apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmGlobals:
  chartHome: ../../charts

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 6.1.11
    valuesFile: values.yaml
